/* Стили Тёмной темы */

body{
    background-color: #1d1d1d;
}
table.info{
    color: #797962;
}
.headeblock{
  background-color: #131313c0;
}
td {
  padding: 10px;
  padding-left: 20px;
}


#body{
    color: #6f7052;
}
h2{
  color: #9ca06b;
  font-size: 30px;
}


.headed{
    background-color: #2a2a2a;
    text-align: center;
}

a.headed {
    text-decoration: none;
    color: #c6c574;
  }
a:visited.headed {
    text-decoration: none;
    color: #7e7f50;
}
a:hover.headed {
    transition: 2s ease;
    text-decoration: underline;
    color: #f4ff92;
}
a:active.headed {
    text-decoration: underline;
    color: #3b3a09;
}

a {
    text-decoration: none;
    color: #d7d889;
  }
a:visited {
    text-decoration: none;
    color: #7e7f50;
}
a:hover {
    transition: 2s ease;
    text-decoration: underline;
    color: #f8ff92;
}
a:active {
    text-decoration: underline;
    color: #9b9760;
}

#navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  #navbar li { display: inline; }
  #navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 2px solid #000000;
    width: 100%;
    text-align: center;
    background-color: #181818;
  }
  #navbar a {
    color: #63634e;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    width: 15%;
  }
  #navbar a:hover {
    background-color: #242424;
  }
  #navbar ul { display: none; }
  #navbar li:hover ul { display: block; }

  #bar {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 20%;
    height: 100%;
    color: #62634e;
  }
  #bar a {
    color: #a6a68b;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    border-left: 5px solid rgb(26, 26, 26);
    display: block;
  }
  #bar li {
    border-left: 10px solid rgb(26, 26, 26);
    border-bottom: 1px solid rgb(26, 26, 26);
  }
  table #bar{
    background-color: #181818;
    text-align: center;
  }
  .anim:hover{
    transition: 2s ease;
    color:#dbdd5c;
  }

  #bar a:hover{
    transition: 1s ease;
    color:#d6d582;
  }
  p {
    hyphens: auto;
}

  footer{
    color: #aaaa9b;
    background-color:  #2c2c2c;
    position: fixed;
    right: 0;
    bottom: 0;
    text-align: center; 
    width: 99%;   
    font-size: 19px;
  }
.foot:hover{
    transition: 2s ease;
    color:#e6ebab;
    font-size: 30px;
}
